@import "global.config.scss";

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}

.loading {
  @include border-radius(50%);
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  border: 8px solid $blue;
  border-top: 8px solid $blue;
  animation: spin 1s ease-in-out infinite;

  &::before {
    @include border-radius(50%);
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border: 8px solid transparent;
    border-top: 8px solid $cyan;
    animation: spin 1.2s linear infinite;
  }

  &::after {
    @include border-radius(50%);
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 8px solid transparent;
    border-top: 8px solid $dark-lemon;
    animation: spin 0.9s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
