@import "global.config.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// Native elements
html,
body {
  margin: 0;
  padding: 36px 0 0 0;
  background-color: $dark-blue !important;
  color: $white;
  font-family: "Montserrat", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

// Utilities
.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.text-dark {
  color: $blue !important;
}

.disabled {
  pointer-events: none;
  cursor: none;
  opacity: 0.6;
}

.btn {
  @include border-radius(4.5px);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 12px 72px;
  border-width: 0px 0px 4px 4px;
  border-style: solid;
  font-weight: bold;
  box-shadow: -1px 1px 4px $tr-black;
  color: $black;
}
