// Variables para el sistema de grilla
$grid-gutter: 16px;
$grid-columns: 12;

// Clase para la fila (equivalente a v-row)
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -($grid-gutter / 2);
}

// Clase para las columnas (equivalente a v-col)
.col {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: ($grid-gutter / 2);
  width: 100%;

  @for $i from 1 through $grid-columns {
    &.col-#{$i} {
      width: (100% / $grid-columns * $i);
    }
  }

  // Agregar declaración @for para definir $i dentro de la media query
  @for $i from 1 through $grid-columns {
    @media (min-width: 768px) {
      // Estilos para pantallas más grandes (por ejemplo, tabletas)
      &.col-sm-#{$i} {
        width: (100% / $grid-columns * $i);
      }
    }
  }

  @media (min-width: 1024px) {
    // Estilos para pantallas aún más grandes (por ejemplo, computadoras de escritorio)
    @for $i from 1 through $grid-columns {
      &.col-md-#{$i} {
        width: (100% / $grid-columns * $i);
      }
    }
  }

  @media (min-width: 1280px) {
    // Estilos para pantallas muy grandes (por ejemplo, pantallas grandes de escritorio)
    @for $i from 1 through $grid-columns {
      &.col-lg-#{$i} {
        width: (100% / $grid-columns * $i);
      }
    }
  }
}
