@import "global.config.scss";

$grid-gutter: 16px;
$grid-columns: 12;

.game {
  @include border-radius(8.1px);
  transition: background-color 0.3s ease;
  margin-top: 30px;
  margin-bottom: 45px;
  padding: 15.3px;
  background-color: $light-lemon;

  &-loader-box {
    padding: 90px 0;
  }

  &.error {
    background-color: $red !important;
    .game-status {
      border-left: solid 3px $white !important;
      border-right: solid 3px $white !important;
      border-bottom: solid 3px $white !important;
      background-color: $red !important;
    }
  }

  &.success {
    background-color: $green !important;
    .game-status {
      border-left: solid 3px $white !important;
      border-right: solid 3px $white !important;
      border-bottom: solid 3px $white !important;
      background-color: $green !important;
    }
  }

  &.error,
  &.success {
    .game-status {
      color: $white !important;
    }

    .game-info {
      transition: color 0.3s ease;
      color: $white !important;
    }
  }

  &-status {
    @include border-radius-dots(0, 0, 19.9px, 19.9px);
    border-left: solid 4.5px $lemon;
    border-right: solid 4.5px $lemon;
    border-bottom: solid 4.5px $lemon;
    transition: color 0.12s ease;
    color: $dark-blue;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    padding: 12.6px 15px;
    z-index: 999;
    font-weight: bold;
    box-shadow: 0px 4px 6px -2px $tr-lemon;
    p {
      font-size: 13.6px;
    }
  }

  &-info {
    color: $dark-blue;
    display: flex;
    padding: 18px 28px 0;
    font-size: 18px;

    &_hits {
      margin-left: auto;
    }
  }

  &-board {
    border-radius: 33px;
    padding: 18px;
    &_item {
      .card {
        @include border-radius(4.5px);
        color: $black;
        position: relative;
        height: 192px;
        transform-style: preserve-3d;
        transition: all 0.3s;
        background: $white;
        border: solid 12.6px $white;
        margin: 9px;
        padding-bottom: 12.6px;
        box-shadow: 0px 4px 6px -2px $tr-black;
        transform: rotateY(180deg);

        &:not(.flipped) {
          cursor: pointer;
          background-color: $light-blue;
        }

        &-name {
          font-size: 15.3px;
        }

        &-description {
          font-size: 10px;
        }

        &.flipped {
          transform: rotateY(0deg);
        }

        &:hover,
        &.flipped {
          box-shadow: 0px 1px 2px -1px $tr-black;
        }

        &-front,
        &-box {
          width: 100%;
          height: 100%;
          position: absolute;
          backface-visibility: hidden;
          text-align: left;
        }

        &-front {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 33px;
          display: block !important;
        }

        &-box {
          border-radius: 21px;
        }
      }
    }
  }

  &-actions {
    margin: 21.6px 0;

    p {
      margin-bottom: 10px;
    }

    .game-over {
      margin-top: 20px;

      &_title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        margin-bottom: 9px;
        color: $blue;
      }

      &_info {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 27.9px;
        color: $black;
      }

      &_actions {
        margin-top: 72px;
      }

      p {
        margin-bottom: 10px;
      }

      button {
        margin-right: 10px;
      }
    }
  }
}

.card-image {
  @include border-radius(8.1px);
  width: 100% !important;
  height: 153px;
  margin-bottom: 9px;

  &_back {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 153px !important;
    transform: translate(-50%, -50%);
  }
}

.play-button {
  background: $light-blue;
  border-color: $lemon;

  &_box {
    margin: 18px auto;
  }

  &:hover {
    background-color: $cyan;
  }
}

.home-button {
  background: $lemon;
  border-color: $light-blue;
  margin-left: 27px;
}
